@model IEnumerable<ShoppingCart.Models.Order>

@{
    ViewBag.Title = "ClientOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("LogOut", "LogOut")
<br />

<h2>ClientOrders</h2>

<p>
    @Html.ActionLink("Create New", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserClientId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserCourierId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserClientId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserCourierId)
        </td>
        <td>
            @if (item.UserCourierId != null)
            {
                @Html.ActionLink("Chat", "Chat", new { id = item.Id, before = "ClientOrders" })
                <span>|</span>
            }
            @Html.ActionLink("Details", "OrderDetails", new { id=item.Id, before = "ClientOrders" })
            |
            @Html.ActionLink("Delete", "DeleteOrder", new { id = item.Id }, new { onclick = "return confirm('Are you sure you wish to delete this order?');" })
        </td>
    </tr>
}

</table>
