@{
    ViewBag.Title = "Shober";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <script type="text/html" id="scrProducts">@Html.Raw(ViewBag.ProductsJson)</script>
    <div id="body">
        @Html.ActionLink("LogOut", "LogOut")
        <br/>
        @Html.ActionLink("My Orders", "ClientOrders")
        <template is="dom-bind" id="root">
            <template is="dom-if" if="{{!model.OrderComplete}}">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <h4>New order</h4>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Order date:</label>
                        <div class="col-sm-10">
                            <input type="text" value="{{model.Order.Date}}" class="form-control" readonly />
                        </div>
                    </div>
                    @*<div class="form-group">
                        <label class="col-sm-2 control-label">Your name:</label>
                        <div class="col-sm-10">
                            <input type="text" value="{{model.Order.Customer::change}}" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Shipping address:</label>
                        <div class="col-sm-10">
                            <input type="text" value="{{model.Order.Address::change}}" class="form-control" />
                        </div>
                    </div>*@
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <div class="table table-bordered table-stripped">
                                <div class="thead">
                                    <div class="tr">
                                        <div class="th">#</div>
                                        <div class="th">Product</div>
                                        <div class="th">Price</div>
                                        <div class="th">Quantity</div>
                                        <div class="th">Total amount</div>
                                        <div class="th td-actions"></div>
                                    </div>
                                </div>
                                <div class="tbody">
                                    <template is="dom-repeat" items="{{model.Order.OrderItems}}">
                                        <div class="tr">
                                            <div class="td td-number">
                                                <span>{{index}}</span>
                                            </div>
                                            <div class="td td-product">
                                                <select is="sc-select" value="{{item.Product::change}}" class="form-control input-sm" options="{{GetOptions(model.Products)}}" on-change="ProductSelected"></select>
                                            </div>
                                            <div class="td td-price">
                                                <input type="text" readonly value="{{item.Price}}" class="form-control input-sm" />
                                            </div>
                                            <div class="td td-quantity">
                                                <input type="text" value="{{item.Quantity::change}}" class="form-control input-sm" on-change="RefreshTotalAmount" />
                                            </div>
                                            <div class="td td-amount">
                                                <input type="text" readonly value="{{GetTotalAmount(item.Quantity, item.Price)}}" class="form-control input-sm" />
                                            </div>
                                            <div class="td td-actions">
                                                <button type="button" class="btn btn-xs btn-default" on-click="DeleteOrderItem">Delete</button>
                                            </div>
                                        </div>
                                    </template>
                                </div>
                            </div>
                            <div class="table">
                                <div class="tfoot">
                                    <div class="tr">
                                        <div class="td">
                                            <strong>Total amount:</strong>
                                        </div>
                                        <div class="td td-actions">
                                            <strong>{{GetTotalOrderAmount(model.Order.OrderItems, model.Order.OrderItemsCounter)}}</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <template is="dom-if" if="{{model.Messages.length}}">
                                <div class="alert alert-danger">
                                    <template is="dom-repeat" items="{{model.Messages}}">
                                        <div>{{item}}</div>
                                    </template>
                                </div>
                            </template>
                            <button type="button" class="btn btn-primary btn-sm" on-click="SubmitOrder">Submit order</button>
                            <button type="button" class="btn btn-default btn-sm" on-click="CancelOrder">Cancel order</button>
                            <button type="button" class="btn btn-default btn-sm" on-click="AddOrderItem">Add item</button>
                        </div>
                    </div>
                </form>
            </template>
            <template is="dom-if" if="{{model.OrderComplete}}">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <h4>Your order</h4>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Order date:</label>
                        <div class="col-sm-10">
                            <input type="text" value="{{model.Order.Date}}" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <div class="table table-bordered table-stripped">
                                <div class="thead">
                                    <div class="tr">
                                        <div class="th">#</div>
                                        <div class="th">Product</div>
                                        <div class="th">Price</div>
                                        <div class="th">Quantity</div>
                                        <div class="th">Total amount</div>
                                    </div>
                                </div>
                                <div class="tbody">
                                    <template is="dom-repeat" items="{{model.Order.OrderItems}}">
                                        <div class="tr">
                                            <div class="td td-number">
                                                <span>{{index}}</span>
                                            </div>
                                            <div class="td td-product">
                                                <span>{{item.Product}}</span>
                                            </div>
                                            <div class="td td-price">
                                                <span>{{item.Price}}</span>
                                            </div>
                                            <div class="td td-quantity">
                                                <span>{{item.Quantity}}</span>
                                            </div>
                                            <div class="td td-amount">
                                                <span>{{GetTotalAmount(item.Quantity, item.Price)}}</span>
                                            </div>
                                        </div>
                                    </template>
                                </div>
                            </div>
                            <div class="table">
                                <div class="tfoot">
                                    <div class="tr">
                                        <div class="td">
                                            <strong>Total amount:</strong>
                                        </div>
                                        <div class="td td-amount">
                                            <strong>{{GetTotalOrderAmount(model.Order.OrderItems, model.Order.OrderItemsCounter)}}</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group no-print">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <button type="button" class="btn btn-default btn-sm" onclick="window.print();">Print order</button>
                            <button type="button" class="btn btn-default btn-sm" on-click="CreateNewOrder">New order</button>
                        </div>
                    </div>
                </form>
            </template>
            <iron-ajax content-type="application/json" url="@Url.Content("~/Home/Submit")" handle-as="json" method="POST" body="{{model.Order}}" on-response="OrderSubmited"></iron-ajax>
        </template>
        <script src="@Url.Content("~/Scripts/Views/Home/Index.js")"></script>
    </div>
